[submodule "mljsapi"]
	path = backend
	url = git@github.com:douglasnaphas/mljsapi.git
[submodule "madliberationjs"]
	path = frontend
	url = git@github.com:douglasnaphas/madliberationjs.git
[submodule "itest"]
	path = itest
	url = git@github.com:douglasnaphas/madliberation-itest.git
[submodule "content"]
	path = content
	url = git@github.com:douglasnaphas/madliberation-scripts.git
