# This is a basic workflow to help you get started with Actions

name: infra-diff

# Controls when the action will run.
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      from_branch:
        description: "The branch in this repo that changes are coming FROM"
        required: true
      to_branch:
        description: "The branch in this repo that changes are going TO"
        required: true
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          submodules: true
          persist-credentials: false

      - name: Validate inputs
        run: |
          git branch -a

      # - name: Install
      #   run: |
      #     npm install

      # - name: Install frontend
      #   working-directory: frontend
      #   run: |
      #     npm install

      # - name: Install backend
      #   working-directory: backend
      #   run: |
      #     npm install

      # - name: Test backend
      #   working-directory: backend
      #   run: |
      #     npm test

      # - name: Build
      #   run: |
      #     npm run build

      # - name: Build frontend
      #   working-directory: frontend
      #   run: |
      #     npm run build

      # - name: Test frontend
      #   working-directory: frontend
      #   run: |
      #     npm test

      # - name: Install content
      #   working-directory: content
      #   run: |
      #     npm install

      # - name: Test content
      #   working-directory: content
      #   run: |
      #     npm test

      # - name: Test
      #   run: |
      #     npm test

      # - name: Identify test account and region
      #   env:
      #     AWS_ACCESS_KEY_ID: ${{ secrets.TEST_AWS_ACCESS_KEY_ID }}
      #     AWS_SECRET_ACCESS_KEY: ${{ secrets.TEST_AWS_SECRET_ACCESS_KEY }}
      #     AWS_DEFAULT_REGION: "us-east-1"
      #   run: |
      #     aws sts get-caller-identity
      #     echo ${AWS_DEFAULT_REGION} | sed 's/-/+/g'

      # - name: Diff the test account
      #   env:
      #     AWS_ACCESS_KEY_ID: ${{ secrets.TEST_AWS_ACCESS_KEY_ID }}
      #     AWS_SECRET_ACCESS_KEY: ${{ secrets.TEST_AWS_SECRET_ACCESS_KEY }}
      #     AWS_DEFAULT_REGION: "us-east-1"
      #   run: |
      #     npx cdk diff

      # - name: Identify prod account and region
      #   env:
      #     AWS_ACCESS_KEY_ID: ${{ secrets.PROD_AWS_ACCESS_KEY_ID }}
      #     AWS_SECRET_ACCESS_KEY: ${{ secrets.PROD_AWS_SECRET_ACCESS_KEY }}
      #     AWS_DEFAULT_REGION: "us-east-1"
      #   run: |
      #     aws sts get-caller-identity
      #     echo ${AWS_DEFAULT_REGION} | sed 's/-/+/g'

      # - name: Diff the prod account
      #   env:
      #     AWS_ACCESS_KEY_ID: ${{ secrets.PROD_AWS_ACCESS_KEY_ID }}
      #     AWS_SECRET_ACCESS_KEY: ${{ secrets.PROD_AWS_SECRET_ACCESS_KEY }}
      #     AWS_DEFAULT_REGION: "us-east-1"
      #   run: |
      #     npx cdk diff
